app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    helm upgrade test-net-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-03-14T16:59:50.313Z
